<!-- Wrapper -->
  <div id="wrapper" class="divided">

    <!-- Banner -->
      <section class="flex-custom2 banner onload-image-fade-in onload-content-fade-right - style2 fullscreen orient-center content-align-center image-position-center color-add-1" style='padding-top: 0;'>
        <div class='custom-header'>
          <a class='flag' href="/fiesta">
            🇫🇷
          </a>
        </div>
        <div class="content">
          <h1>The festivities aren’t over!</h1>
          <p class='major'>You are cordially invited to spend the evening with us at a  festive dinner.</p>
          <p><b style='color: red;'>Please note that the organisation of this event may differ according to health restrictions.</b></p>
          <p><i>At 7:30 pm &ndash; Salle communale, 2 Route de la Biolle, 73200 Pallud</i></p>
          <ul class="actions stacked">
            <li><a href="#first" class="button large wide smooth-scroll-middle">Here's my answer!</a></li>
          </ul>
        </div>
        <div class="image">
          <%= image_tag "banner.jpg", alt: "" %>
          <!-- <img src="images/banner.jpg" alt="" /> -->
        </div>
      </section>

      <section id='first' class="wrapper style1 align-center">
        <div class="inner">
          <h2>Reply</h2>
          <p>Important : Fill in a form for each invitee!</p>
          <p>This being an all-adult event, childcare will not be available.<br>
         Please do not hesitate to contact us should you have any questions or concerns: <b><a href='mailto:mariage@oliviaetpierre.com'>mariage@oliviaetpierre.com</a></b></p>
          <div class="index align-left">

            <section>
              <header>
                <h3>Form</h3>
              </header>
              <div class="content">

                <%= simple_form_for @response, url: '/en/responses', input_html: { class: "fields"}, method: 'post' do |f| %>
                  <%= f.error_notification %>
                  <div class='fields'>
                    <div class='field half'>
                      <%= f.input :first_name, label: 'First name' %>
                      <div style='color: red;' class=<%= @error %> >*Ce champ est obligatoire</div>
                    </div>
                    <div class='field half'>
                      <%= f.input :last_name, label: 'Surname' %>
                      <div style='color: red;' class=<%= @error %> >*Ce champ est obligatoire</div>
                    </div>
                    <div class='field'>
                      <%= f.input :email, label:'Email address' %>
                      <div style='color: red;' class=<%= @error %> >*Ce champ est obligatoire</div>
                    </div>
                    <div class='field'>
                      <%= f.input :presence, collection: ["I will attend this event!", "To my regret, I will not be able to attend."], label:'Reply', include_blank: false %>
                      <div style='color: red;' class=<%= @error %> >*Ce champ est obligatoire</div>
                    </div>
                    <div class='field'>
                      <%= f.input :allergies, as: :text, label:'Allergies' , input_html: { rows: 1 } %>
                    </div>
                    <div class='field'>
                      <%= f.input :note, as: :text, label:'A message for the newlyweds-to-be?' , input_html: { rows: 1 } %>
                    </div>
                      <%= f.input :language, as: :hidden, input_html: { value: 'EN' } %>
                  </div>
                  <div class='actions'>
                    <%= f.button :submit, value: 'Send!', id: 'submit-btn', class: "button primary" %>
                  </div>
                <% end %>

              </div>
            </section>
          </div>
        </div>
      </section>
  </div>

  <div class='pop-position'>
    <%= render partial: 'shared/enpopup' =%>
  </div>

<!-- Scripts -->


  <!-- <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script> -->

<!-- Note: Only needed for demo purposes. Delete for production sites. -->
  <!-- <script src="assets/js/demo.js"></script> -->

